@font-face {
	font-style: normal;
	font-weight: 300;
	font-family: "Rubik";
	font-display: swap;
	// src:	url(~./fonts/Rubik-Light.woff2) format("woff2"),
	// 			url(~./fonts/Rubik-Light.woff) format("woff");
	src:	url(~./fonts/Rubik-Light.woff) format("woff");
}
@font-face {
	font-style: normal;
	font-weight: 400;
	font-family: "Rubik";
	font-display: swap;
	src:	url(~./fonts/Rubik-Regular.woff2) format("woff2"),
				url(~./fonts/Rubik-Regular.woff) format("woff");
}
@font-face {
	font-style: normal;
	font-weight: 500;
	font-family: "Rubik";
	font-display: swap;
	src:	url(~./fonts/Rubik-Medium.woff2) format("woff2"),
				url(~./fonts/Rubik-Medium.woff) format("woff");
}

#root {
	position: relative;
	min-height: 100vh;
}

a {
	text-decoration: none;

	&.active span {
		font-weight: bold;
	}
	&.active svg {
		transform: scale(1.4);
	}
}

#splash-screen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1500;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

	background-color: #fff;
	opacity: 1;

	// transition:	background-color	0.5s	ease,
	// 						opacity						0.5s	ease;

	&.hidden {
		// background: transparent;
		// opacity: 0;
		visibility: hidden;
	}
}